
.search-container {
  background-color: #f4f4f4;
  padding-bottom: 1rem;
}




.chart-wrap {
width: 26740px;
  height: 300px;
  min-width: 100%;
}

.chart-scroll-wrap {
  width: 100%;
  overflow: scroll;
}

